/** RESET **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style:none outside none;
    text-decoration:none;
}

html {width:100%;height: auto;background-color: #fff;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale;}
table {border-collapse: collapse;border-spacing: 0;}
a, img {border: 0 none;outline: 0 none;}
input {outline: 0 none;border: 0 none;background: 0 none;}
*{
    font-family: "Roboto",;
    font-weight: normal;
    box-sizing: border-box;
}
/* --- GENERAL --- */

body{
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto";
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.header {
    width: 100%;
    margin-top: 44px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1400px;
}
nav {
    width: 100%;
    max-width: 470px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-size: 16px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Mund të ndryshoni këtë vlerë sipas preferencave tuaja */
}

nav ul li a {
    text-decoration: none;
    color: black; /* Ngjyra e linkut pa hover */
    transition: all 0.9s ease-in;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo {
    max-width: 170px;
    height: auto;
    width: 100%;
    margin-left: 100px;
}
.icons{
    margin-left: 200px;
}
.icons svg:hover {
    transform: scale(1.1); /* Hover effect to slightly enlarge the icon */
}
svg {
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    margin-right: 20px;
}
.lastchild{
    margin-right: 20px;
}
.homeholder{
    width: 100%;
    
}
.home {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 60px;
}
.details {
    margin-top: 100px;
    transition: all 0.9s ease;
    margin-left: 70px;
    
    
    
}
.details h2 {
    max-width:1000px;
    color: #383838;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 37px;
}
.details p {
    max-width: 950px;
    color: #383838;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    opacity: 0.7;
    margin-bottom: 50px;
    width: 100%;
}
.explore {
    border: solid 1px;
    max-width: 200px;
    padding: 15px;
    border-radius: 4px;
   
    
}
.explore h3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.chair {
    max-width: 50%;
    height: auto;
    margin: 100px 50px 50px 50px;
}
.chair img {
    width: 100%;
    height: auto;
    
}
.secondsection {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    flex-shrink: 0;
    background-color: #fff;
    margin-bottom: 100px;
}
.white {
    display: flex;
    max-width: 1300px;
    gap: 30px;
    margin-right: 50px;
    margin-left: 70px;
    max-height: 470px;
    height: 100%;
}
.white img {
    max-width: 800px;
    width: 100%;
    height: auto;
}
.wood {
    width: 100%;
}
.wood img {
    width: 100%;
    max-height: 470px;
    height: 100%;
}



 span {
    color: rgb(43, 8, 0);
    font-weight: 700;
    margin-right: 10px;
 }
.secondsection svg {
    width: 100%;
    height: auto;
    max-width: 100px;
   }
   .thirdsection {
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.thirdsection h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 100px;
}

.form-holder{
    width: 100%; 
}

#form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}
#form .input{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: grey;
    height:100%;
    padding: 17px;
    border-radius: 4px 0 0 4px;
    background-color:white;
    color: black;
    border: solid 1px;
}
#form .button{
    width: auto;
    background-color: rgb(11, 52, 11);
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 4px;
    padding: 17px 30px;
    flex-shrink: 0;
    border-radius: 0px 4px 4px 0px;
}
#form .input::placeholder {
    color:black; /* Set the placeholder color to red */
  }
.fourthsection{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(4, 26, 4);
}
.fourthsection h2 {
    color: white;
}
.fourthsection p {
    color: white;
    max-width: 300px;
    height: auto;
}
.about {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.reserved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
}
.socialmedia {
    max-width: 300px;
    height:auto;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    justify-content: space-between;

}
.rights{
    color: #3838387b;
}
.provide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.provide h2 {
    font-weight: 700;
    margin-bottom: 20px;
}
.provide p {
    opacity: 0.7;
    max-width: 800px;
    margin-bottom: 1px;
}
.shipping {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1400px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    
}
.free {
    background-color: rgba(184, 153, 116, 0.3);
    padding: 50px;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
}
.free h4 {
    font-weight: 600;
    margin-left: 15%;
}
.free p {
    max-width: 200px;
    margin-left: 10%;
    font-weight: normal;
}
.free svg {
    margin-left: 25%;
    margin-bottom: 5px;
}
.product {
    background-color: rgba(184, 153, 116, 0.3);
    padding: 50px;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
}
.product h4 {
    font-weight: 600;
    margin-left: 15%;
    font-size: 18px;
}
.product p {
    max-width: 200px;
    margin-left: 10%;
    font-weight: normal;
}
.product svg {
    margin-left: 25%;
    margin-bottom: 5px;
}
.costum {
    background-color: rgba(184, 153, 116, 0.3);
    padding: 50px;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
}
.costum h4 {
    font-weight: 600;
    margin-left: 15%;
    font-size: 18px;
}
.costum p {
    max-width: 200px;
    margin-left: 10%;
    font-weight: normal;
}
.costum svg {
    margin-left: 25%;
    margin-bottom: 5px;
}
h1 {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo {
    max-width: 170px;
    height: auto;
    width: 100%;
    margin-left: 100px;
}
.icons{
    margin-left: 200px;
}
.icons svg:hover {
    transform: scale(1.1); /* Hover effect to slightly enlarge the icon */
}
svg {
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    margin-right: 20px;
}
.lastchild{
    margin-right: 0px;
}
.homeholder{
    width: 100%;
    background-color: #F7F5F6;
}
.bx-menu {
    display: block;
    font-size: 24px;
    cursor: pointer;
}
.home {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    background-color: #F7F5F6;
    margin: 0 auto;
}
.details {
    margin-top: 100px;
    margin-left: 102px;
    margin-right: 200px;
    transition: all 0.9s ease;
    
}
.details h2 {
    max-width:1000px;
    color: #383838;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 37px;
}
.details p {
    max-width: 750px;
    color: #383838;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    opacity: 0.7;
    margin-bottom: 60px;
}
.explore {
    border: solid 1px;
    max-width: 200px;
    padding: 15px;
    border-radius: 4px;
   
    
}
.explore h3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.chair {
    max-width: 50%;
    height: auto;
}
.chair img {
    width: 100%;
    height: auto;
    max-width: 1000px;

}
.secondsection {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    flex-shrink: 0;
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
}
/*--- Swiper ---*/
.swiper {
    max-width: 1400px;
    height: auto;
    width: 100%;
   }
 .swiper-slide {
     max-width: 309px;
     height: auto;
     flex-shrink: 0;
     border-radius: 8px;
     background-color: #fff;
     box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
     margin:  0 25px 45px 0;
 }
 .swiper-slide img {
     padding-right: 10px;
     width: 100%;
 }
 .swiper-slide h4 {
     max-width: 289.985px;
     height: auto;
     flex-shrink: 0;
     color: #464646;
     font-size: 15px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     margin: 0 0 10px 8px;
 }
 .swiper-slide .stars{
     display: flex;
     flex-wrap: wrap;
     max-width: 250px;
     width: 100%;
     margin-bottom: 13px;
     gap: 11px;
     margin-left: 8px;
 }
 .icon {
    font-size: 2em;
    color: rgb(0, 0, 0);
    margin-left: 30px;
}
 .swiper-pagination-bullet {
     width: 30px;
     height: 5px;
     border-radius: 0px;
     background-color: rgba(0, 0, 0, 0.443);
     opacity: 1;
 }
 .swiper-pagination-bullet.swiper-pagination-bullet-active{
     background-color: red;
 }
 span {
    color: rgb(43, 8, 0);
    font-weight: 700;
    margin-right: 10px;
 }
.secondsection svg {
    width: 100%;
    height: auto;
    max-width: 100px;
   }
   .thirdsection {
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.thirdsection h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 100px;
}

.form-holder{
    width: 100%; 
}

#form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}
#form .input{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: grey;
    height:100%;
    padding: 17px;
    border-radius: 4px 0 0 4px;
    background-color:white;
    color: black;
    border: solid 1px;
}
#form .button{
    width: auto;
    background-color: rgb(11, 52, 11);
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 4px;
    padding: 15.5px 30px;
    flex-shrink: 0;
    border-radius: 0px 4px 4px 0px;
}
#form .input::placeholder {
    color:black; /* Set the placeholder color to red */
  }
.fourthsection{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(4, 26, 4);
}
.fourthsection h2 {
    color: white;
}
.fourthsection p {
    color: white;
    max-width: 300px;
    height: auto;
}
.about {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.reserved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
}
.socialmedia {
    max-width: 300px;
    height:auto;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    justify-content: space-between;

}
.rights{
    color: #3838387b;
}

#menu-icon{
    font-size: 2.6rem;
    color: rgba(0, 0, 0, 0.853);
    display: none;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  #menu-icon.bx-menu {
    transform: rotate(0deg); /* Ikona hamburger fillon nga pozicioni normal */
}

#menu-icon.bx-x {
    transform: rotate(90deg); /* Rrotullim për ikonën X */
}
.nav-links.show {
    display: flex;
    opacity: 1; /* Bëhet e dukshme */
    transform: translateX(0); /* Vjen brenda ekranit */
}
.bx-menu {
    display: block;
    font-size: 24px;
    cursor: pointer;
}
/* Stilet për ikonën e menu-së */
#menu-icon {
    font-size: 2.6rem;
    color: rgb(0, 0, 0);
    display: block;
    cursor: pointer;
}

#menu-close-icon {
    font-size: 2.6rem;
    color: rgb(0, 0, 0);
    display: none;
    cursor: pointer;
}

/* Kur hapet menuja, tregohet flex */
.nav-links {
    display: none; /* E fshehur në fillim */
    flex-direction: column;
    opacity: 0; /* Fillimisht është e padukshme */
    transform: translateX(-100%); /* Fillon jashtë ekranit */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.nav-links.show {
    display: flex;
    position: absolute;
    top: 60px; /* Pozicionoje sipër, poshtë header-it */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Një sfond për ta dalluar menunë */
    z-index: 1000; /* Për ta vendosur sipër përmbajtjes */
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin-left: 450px;
}

.nav-links li {
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}


/* Default styles for small screens */
.nav-links {
    display: none;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.nav-links.show {
    display: flex;
    opacity: 1;
}
@media (max-width: 900px) {
    .discover{
        display: none;
    }
}
/* Media queries for larger screens */
@media (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        opacity: 1;
        position: static;
        background-color: transparent; /* Hiq sfondin për ekranet e mëdha */
    }

    #menu-icon {
        display: none; /* Fshi ikonën hamburger në ekranet e mëdha */
    }
}

/* --- Responsive ---*/
@media (max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: flex-start;
    }
    #menu-icon {
        display: block;
        order: 3;
        margin-right: 20px;
    }

    .logo h1 {
        margin-left: 0;
        font-size: 16px;
    }
    .nav-links li a {
        text-decoration: none;
        color: rgb(255, 255, 255);}

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
    }

    nav ul li {
        margin: 5px 0;
      
    }
    .nav-links {
        background-color: rgba(55, 55, 121, 0.086);
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 4px;
        padding-left: 45%;
        gap: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.555)
    }
    .nav-links {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: auto;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: none;
        order: 1;
    }
    .nav-links.show {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        max-width: 800px;
    }
    .icons{
        order: 2;
        display: none;
    }

    .nav-links ul {
        list-style: none;
        display: flex;
        margin-left: 1px;
    }
    .logo{
        align-self: center;
        margin-left: 30px;
    }
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details{
        margin-right: 0px;
        margin-left: 30px;
    }
    .chair{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .about {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .logo{
        align-self: center;
        margin-left: 30px;
    }
   
    .logo h1 {
        font-size: 14px;
    }
    .Marketplace h2 {
        font-size: 32px;
    }

    nav ul li a {
        font-size: 14px;
    }
    .marketplace h2, .artisan h2 {
        font-size: 24px;
    }

    .description h3, .description h4 {
        font-size: 16px;
    }
    .discover {
       display: none;
    }

    .discover p {
        font-size: 14px;
    }
    .old {
        flex-direction: column;
    }
    .old h3{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .old h4{
        margin-left: 0px;
    }
    .logo{
        margin-right: 1px;
        margin-left: 30px;
        max-width: 200px;
        width: 100%;
        font-size: 16px;
    }
    .provide p{
        margin-left: 30px;
    }
}
@media  (max-width: 600px) {

    .btn.btn-outline-secondary {
        margin-bottom: 1px;
        border-radius: 0%; color: black; 
        padding: 15px 30px;
        font-size: 14px;
    }
        .material {
            width: 100%;
            max-width: 350px;
            padding: 15px 25px;
            margin-top: 50px;
            gap: 20px;
            height: 100px;    
            display: flex;    

        }
        .material h4 {
            font-size: 10px;
            position: relative;
            margin: 0 auto;
            margin-top: 20px;
        }
        .material p {
            font-size: 8px;
        }
        .container {
            margin-bottom: 60px;
        }
        .secondsection {
            margin-top: 35px;
            margin-top: 35px;
        }
        .swiper{
            max-width: 300px;
        }
        .swiper img {
            width: 100%;
        }
        .thirdsection {
            margin-bottom: 0px;
        }
        #form .input,#form .button {
            font-size: 12px;
        }
        .thirdsection h3{
            margin-bottom: 70px;
            margin-left: 50px;
        }
        hr {
            margin-bottom: 0px;
        }
        .shipping{
            margin-bottom: 50px;
        }
        .reserved{
            flex-wrap: wrap;
        }
}

@media  (max-width: 500px) {
    .material {
        width: 100%;
        max-width: 350px;
        padding: 15px 25px;
        margin-top: 20px;
        gap: 20px;
        height: 80px;   
        left: 50px;
        display: flex;    
    }
    .details{
        padding-right: 20px;
        margin-top: 50px;
    }
    .details h2{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .details p {
        font-size: 16px;
        line-height: 20px;
        max-width: 350px;
    }
    .explore {
        max-width: 120px;
        padding: 10px;
    }
    .explore h3 {
        font-size: 12px;
    }
    .us{
        padding-right: 20px;
        margin-bottom: 15px;
    }
    .company{
        margin-right: 20px;
        margin-bottom: 15px;
    }
    .further{
        margin-right: 20px;
        margin-bottom: 15px;
    }
}



@media  (max-width: 400px ){
    .logo {
        margin-left: 30px;

    }
    .iron h5 {
        margin-bottom: 1px;
    }
    .btn.btn-outline-secondary {
        margin-bottom: 1px;
        border-radius: 0%; color: black; 
        padding: 10px 20px;
        font-size: 14px;
    }
    .material {
        width: 100%;
        max-width: 300px;
        padding: 10px 10px;
        margin-top: 10px;
        gap: 20px;
        left: 40px;
        height: 70px;
    }
@media  (max-width: 350px) {

    .comfort img {
        padding: 1px;
        width: 100%;
        margin-right: 1px;
    }
    .footer-column{
        margin-left: 30px;
        margin-right: 0px;
    }
    .footer-column.right{
        margin-right: 0px;
        margin-left: 30px;
    }


}
@media  (max-width: 320px) {
    .material {
        display: none;
    }
}
}